.root {
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #F9EFE6;
    overflow: hidden;
}

.our {
    position: absolute;
    width: 194px;
    height: 187px;
    left: 612px;
    top: 137px;

    font-family: 'Beardies';
    font-style: normal;
    font-weight: 400;
    font-size: 170px;
    line-height: 187px;
    /* identical to box height */

    z-index: 3;
    color: #FC2F00;
}

.courses1 {
    position: absolute;
    width: 572px;
    height: 158px;
    left: 735px;
    top: 200px;

    font-family: 'New-YorkerC';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 158px;
    z-index: 1;
    color: #000000;
}

.courses2 {
    position: absolute;
    width: 572px;
    height: 158px;
    left: 738px;
    top: 197px;

    font-family: 'New-YorkerC';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 158px;

    color: #FC2F00;
}

.boxCourses {
    position: absolute;
    width: 1328.73px;
    height: 475.01px;
    left: 296px;
    top: 414.99px;
    display: flex;
    justify-content: center;

}